<% layout('layout/boilerplate') -%>
<body>
    <div class="card card-listing">
        <img src="<%=el.image.url%>" class="card-img-top" alt="Destination Picture">
        <div class="card-body">
          <h5 class="card-title"><b><%=el.title%></b></h5>
          <p style="opacity: 0.6;">Owned by: <%= own.username%> </p>
          <p class="card-text"><%=el.description%></p>
          <p class="card-text"><i>&#8377; <%=el.price.toLocaleString("en-IN")%> / night <span style="opacity: 0.7;">+ 18% GSt</span></i></p>
          <p class="card-text"><%=el.location%></p>
          <p class="card-text"><b><%=el.country%></b></p>
        </div>
        <% if (currUser && currUser._id.equals(own._id)) { %>
          <form class="ctr-frm" method="post" action = "/listings/<%=el._id%>?_method=DELETE">
            <button type="button" class="btn btn-primary mybtn"><a style="color: white" href="/listings/<%=el._id%>/edit">Edit the details</a></button>
          &nbsp;&nbsp;&nbsp;
            <button type = "submit" class="btn btn-primary mybtn2">Delete the place from WanderLust</button>
        </form>
        <% } %>
        <br><br>
        <% if (currUser) { %>
          <hr>
          <h5>Give an anonymous review!!!</h5>
        <br>
        <form action="/listings/<%=el._id%>/reviews" method="post" class="needs-validation" novalidate>
          <div class="mb-3">
            <fieldset class="starability-grow">
              <legend>Rate the place:</legend>
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3">
            <label for="rev" class="form-label">Add a review</label><br>
            <textarea name="review[content]" id="rev" rows="5" cols="45" required></textarea>
            <div class="invalid-feedback">
              Enter Review Content
            </div>
          </div>
          <button class="btn btn-outline-info">Submit</button>
        </form>
        <% } %>
        <br><hr>
        <% if(el.reviews.length>0){%>
          <div class="row">
            <h5>All Reviews</h5>
          <br>
          <% for(it of el.reviews ) { %>
            <div class="card col-5 ms-3 mb-2">
              <% if (currUser && currUser._id.equals(it.author)) { %>
                <h5 class="card-title">You</h5>
              <% } else {%>
                <h5 class="card-title">Anonymous</h5>
              <% }%>
              <p class="starability-result" data-rating="<%=it.rating%>">  Rated: <%= it.rating%> stars </p>
              <p class="card-text"><%=it.content%></p>
              <% if (currUser && currUser._id.equals(it.author)) { %>
                <form class="mb-3" method="post" action="/listings/<%=el._id%>/reviews/<%=it._id%>?_method=DELETE">
                  <button class="btn btn-sm btn-outline-danger">Delete</button>
                </form>
              <% } %>
            </div>
          <% } %>
          </div>
          <%}%>
      </div>
      <br><br><br>
    
</body>
